<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="members.scss" type="text/css">
</head>
<body>
    <span class="display-4">現在 <%= current_user.name %> さんがログインしています</span><br>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn btn-default' %><br>
    <% @count = @tweets.offset_value + 1 %>

    <%= paginate @tweets %><br>
    <% @tweets.each do |tweet| %>
        <div class="count text-center">
            <span><%=@count%>位(Retweet：<%= tweet.retweet_count %> Fav：<%= tweet.favorite_count%>)</span>
        </div>

        <img src="<%= tweet.user_image %>" alt="プロフィール画像" class="img-responsive center-block">

        <div class="user text-center ">
            <span><%= link_to "#{tweet.name}", "#{tweet.url}" %></span>
        </div>

        <div class="time text-center">
            <span><%= tweet.tweet_time.strftime("%Y年%m月%d日 %H時%M分") %></span>
        </div>

        <div class="well well-lg"><%= link_to "#{tweet.tweet}", "#{tweet.tweet_url}", :style=>"color:black;" %></div>

        <% @count += 1 %>
        <hr>
    <% end %>
    <%= paginate @tweets %>
</body>