<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="members.scss" type="text/css">
</head>
<body>
    <% @count = 1 %>

    <% @tweets.each do |tweet| %>
        ランキング：<%=@count%>位<br>
        ユーザー名：<%= link_to "#{tweet.name}", "#{tweet.url}" %><br>
        <%= link_to image_tag("<%= tweet.user_image %>), '#{tweet.url}' %>
        <img src="<%= tweet.user_image %>" alt="プロフィール画像"><br>
        <%= tweet.tweet_time %><br>
        <%= link_to "#{tweet.tweet}", "#{tweet.tweet_url}" %><br>
        お気に入りとRTの数：<%= tweet.tweet_point %><br>
        <% @count += 1 %>
        <hr>
    <% end %>
</body>
