<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="members.scss" type="text/css">
</head>
<body>
    <% @count = 1 %>

    <% @tweets.each do |tweet| %>
        ランキング：<%=@count%>位<br>
        <img src="<%= tweet.user_image %>" alt="プロフィール画像">
        tweetされた日時：<%= tweet.tweet_time %><br>
        内容：<%= tweet.tweet %><br>
        ユーザー名：<%= tweet.user_name %><br>
        お気に入りとRTの数：<%= tweet.tweet_point %><br>
        URL:<%= tweet.tweet_url %><br>
        <% @count += 1 %>
        <hr>
    <% end %>
</body>