<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="members.scss" type="text/css">
</head>
<body>
    <h2> 現在 <%= current_user.name %> さんがログインしています </h2><br>
    <%= link_to "ログアウトする", destroy_user_session_path, method: :delete %><br>
    <% @count = 1 %>

    <%= paginate @tweets %><br>
    <% @tweets.each do |tweet| %>
        ランキング：<%=@count%>位<br>
        ユーザー名：<%= link_to "#{tweet.name}", "#{tweet.url}" %><br>
        <img src="<%= tweet.user_image %>" alt="プロフィール画像"><br>
        <%= tweet.tweet_time %><br>
        <%= link_to "#{tweet.tweet}", "#{tweet.tweet_url}" %><br>
        お気に入りとRTの数：<%= tweet.tweet_point %><br>
        <% @count += 1 %>
        <hr>
    <% end %>
    <%= paginate @tweets %>
</body>