<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="members.scss" type="text/css">
</head>
<body>
    <div class="text-center">
      <%=paginate @tweets%>
    </div>

    <!-- ▼twitter風ここから -->
    <div class="twitter__container">
        <!-- タイトル -->
        <div class="twitter__title">
        <span class="twitter-logo"></span>
        </div>
        <!-- ▼タイムラインエリア scrollを外すと高さ固定解除 -->
        <div class="twitter__contents scroll">
            <% @count = @tweets.offset_value + 1 %>
            <% @tweets.each do |tweet| %>
                <% seconds_ago = Time.now - tweet.tweet_time %>
                <% minutes_ago = seconds_ago / 60%>
                <% hours_ago = minutes_ago / 60 %>
                <% days_ago = hours_ago / 24 %>

                <% if seconds_ago < 60 * 60 * 24 * 3 %> 
                    <div class="twitter__block">
                        <figure>
                            <img src="<%= tweet.user_image %>" />
                        </figure>
                        <div class="twitter__block-text">
                            <div class="name">
                                <%= link_to "#{tweet.name.truncate(12)}", "#{tweet.url}" %><span class="name_reply"><<%=tweet.user_name%>></span>
                            </div>
                            <div class="date">
                                <% if minutes_ago < 60 %>
                                    <%= link_to "#{minutes_ago.floor}分", "#{tweet.tweet_url}", :style=>"color:blue;" %><br>
                                <% elsif hours_ago < 24 %>
                                    <%= link_to "#{hours_ago.floor}時間", "#{tweet.tweet_url}", :style=>"color:blue;" %><br>
                                <% elsif days_ago < 3 %>
                                    <%= link_to "#{days_ago.floor}日", "#{tweet.tweet_url}", :style=>"color:blue;" %><br>
                                <% end %>
                            </div>
                            <div class="text">
                            <%= tweet.tweet.html_safe %><br>
                            </div>
                            <div class="twitter__icon">
                                <span class="twitter-bubble"></span>
                                <span class="twitter-loop">RT<%= tweet.retweet_count %></span>
                                <span class="twitter-heart">♡<%= tweet.favorite_count%></span>
                            </div>
                        </div>
                    </div>
                <% end %>
                <% @count += 1 %>
            <% end %>
        </div>
    </div>
    <div class="text-center">
        <%=paginate @tweets%>
    </div>
</body>