<!DOCTYPE html>
<html>
  <head>
    <title>インフル・エンジニア・ランク</title>
    <%= csrf_meta_tags %>
    <meta  name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>

  <body>

    <% flash.each do |name, msg| %>
      <div class="alert alert-primary" role="alert">
        <a class="close" data-dismiss="alert">×</a>
        <%= msg %>
      </div>
    <% end %>
    <div class="container-fluid">
      <div class="row">
        <div class="center-outer">
          <div class="center-inner">

          <div class="bubbles">
            <%= link_to image_tag("logo3.png"), "/" %>
          </div>
        </div>
      </div>

      <nav class="navbar navbar-default" role="navigation" style="background-color:#e3f2fd;">	
        <div class="navbar-header">	
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">	
          <span class="sr-only">Toggle navigation</span>	
          <span class="icon-bar"></span>	
          <span class="icon-bar"></span>	
          <span class="icon-bar"></span>	
          </button>	
        </div>	
        <div class="collapse navbar-collapse text-center">	
          <ul class="nav navbar-nav">
            <li><%= link_to "ranking", tweet_index_path, class: "btn-outline-light" %></li>
            <li><%= link_to "timeline", tweet_timeline_path, class: "btn-outline-light" %></li>
            <li><%= link_to "user", tweet_followers_count_path, class: "btn-outline-light" %></li>
            <li><%= link_to "log out", destroy_user_session_path, method: :delete, class: "btn-outline-light" %></li>
          </ul>
        </div><!--/.nav-collapse -->	
      </nav>
      <%= yield %>
      <footer class="footer text-center">
        <div class="container">
          <h2>Copyright (C) 2019 suminofu0829 All Rights Reserved.</h2>
        </div>
      </footer>
    </div>
  </body>
</html>
