<!DOCTYPE html>
<html>
  <head>
    <title>インフル・エンジニア・ランク</title>
    <%= csrf_meta_tags %>
    <meta  name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >   
    <script src="jquery.js"></script>
    <script src="jquery.infinitescroll.min.js"></script>
    <script>
    $(function(){
      $('#twitter__container').infinitescroll({
        navSelector  : ".navigation",
        nextSelector : ".navigation a",
        itemSelector : ".article"
      });
    });
</script>

  </head>

  <body>
    <% flash.each do |name, msg| %>
      <div class="alert alert-primary" role="alert">
        <a class="close" data-dismiss="alert">×</a>
        <%= msg %>
      </div>
    <% end %>

    <div class="container-fluid">
      <div class="row">
        <div class="col-12 center-contents">
          <a href="/">インフル・エンジニア・ランク</a>
        </div>
      </div>
    </div>
    <div class="navbar navbar-default" role="navigation">	
        <div class="container-fluid">	
          <div class="navbar-header">	
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">	
            <span class="sr-only">Toggle navigation</span>	
            <span class="icon-bar"></span>	
            <span class="icon-bar"></span>	
            <span class="icon-bar"></span>	
            </button>	
          </div>	
          <div class="navbar-collapse collapse">	
            <ul class="nav navbar-nav", style="float:right;">
              <li><%= link_to "ランキングを表示", tweet_index_path, class: "btn-outline-light" %></li>
              <li><%= link_to "Timeline順", tweet_timeline_path, class: "btn-outline-light" %></li>
              <li><%= link_to "ユーザー毎に表示(フォロワー数順)", tweet_followers_count_path, class: "btn-outline-light" %></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn-outline-light" %></li>
            </ul>
          </div><!--/.nav-collapse -->	
        </div>
      </div>
    <%= yield %>
</html>
