<!DOCTYPE html>
<html>
  <head>
    <title>エンジニアtweetランキング</title>
    <%= csrf_meta_tags %>
    <meta  name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Site Name -->
      <div class="sitename">
        <div class="container">
          <a href="#">エンジニアtweetランキング</a>
        </div>
        <div class="container">
          <span class="display-4">現在 <%= current_user.name %> さんがログインしています</span>
          <p1><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn btn-default' %></p1><br>
        </div>
      </div>
    <!-- Static navbar -->
      <div class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
            <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
            <li><a href="#about"><i class="fa fa-info"></i> About</a></li>
            <li><a href="#about"><i class="fa fa-jpy"></i> Price</a></li>
            <li><a href="#contact"><i class="fa fa-comments-o"></i> Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    <div class="text-center">
      <%=paginate @tweets%>
    </div>
    <%= yield %>
    <div class="text-center">
      <%=paginate @tweets%>
    </div>
  </body>
</html>
