<!DOCTYPE html>
<html>
  <head>
    <title>イエラ</title>
    <link rel="icon" type="image/x-icon" href="./favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="./apple-touch-icon-180x180.png">
    <%= csrf_meta_tags %>
    <meta  name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="crossorigin="anonymous"></script>
    <script type="text/javascript" src="script.js"></script>
    <link rel="stylesheet" href="style.css">
    
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="center-outer">
          <div class="center-inner">

          <div class="bubbles">
            <%= link_to image_tag("iera-logo2.png"), "/" %>
          </div>
        </div>
      </div>

      <ul class="sidenav">
        <li><a class="active" href="#home">Home</a></li>
        <li><a href="/tweet/index">ランキング</a></li>
        <li><a href="/tweet/timeline">タイムライン</a></li>
        <li><a href="/inquiry">問い合わせ</a></li>
        <li><a href="#about">What Is イエラ？</a></li>
        <% if user_signed_in? %>
              <li><a href="/users/sign_out">ログアウト</a></li>
            <% else %>
              <li><a href="/users/sign_in">サインイン</a></li>
            <% end %>
      </ul>

      <% flash.each do |name, msg| %>
        <div class="alert alert-primary" role="alert">
          <a class="close" data-dismiss="alert">×</a>
          <h2><%= msg %></h2>
        </div>
      <% end %>
      <%= yield %>
      <footer class="footer text-center">
        <div class="container">
          <h2>Copyright (C) 2019 suminofu0829 All Rights Reserved.</h2>
        </div>
      </footer>
    </div>
  </body>
</html>
