<!DOCTYPE html>
<html>
  <head>
    <title>インフル・エンジニア・ランク</title>
    <%= csrf_meta_tags %>
    <meta  name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |name, msg| %>
      <div class="alert alert-primary" role="alert">
        <a class="close" data-dismiss="alert">×</a>
        <%= msg %>
      </div>
    <% end %>

    <div class="container-fluid">
      <div class="row">
        <div class="col-12 center-contents">
          <a href="/">インフル・エンジニア・ランク</a>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <ul class="nav navbar-nav", style="float:right;">
              <li><%= link_to "ランキングを表示", tweet_index_path, class: "btn-outline-light" %></li>
              <li><%= link_to "Timeline順", tweet_timeline_path, class: "btn-outline-light" %></li>
              <li><%= link_to "ユーザー毎に表示(フォロワー数順)", tweet_followers_count_path, class: "btn-outline-light" %></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn-outline-light" %></li>
            </ul>
        </div>
    </nav>

    <%= yield %>
    <p id="page-top" align="right"><a href="#wrap">ページトップに戻る</a></p>
</html>
