<!DOCTYPE html>
<html>
  <head>
    <title>エンジニアインフルエンサーランキングランキング</title>
    <%= csrf_meta_tags %>
    <meta  name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 center-contents">
          <a href="/">エンジニアインフルエンサーランキング</a>
        </div>
      </div>
    </div>

    <!-- Static navbar -->
      <% flash.each do |name, msg| %>
        <div class="alert alert-primary" role="alert">
          <a class="close" data-dismiss="alert">×</a>
          <%= msg %>
        </div>
      <% end %>

      <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
            <%# <li><a href="/"><i class="fa fa-home"></i> Home</a></li> %>
            <%# <li><a href="#about"><i class="fa fa-info"></i> About</a></li>
            <li><a href="#price"><i class="fa fa-jpy"></i> Price</a></li> %>
            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    <%= yield %>
    </div>
  </body>
</html>
