<!DOCTYPE html>
<html>
  <head>
    <title>イエラ</title>
    <%= csrf_meta_tags %>
    <meta  name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="crossorigin="anonymous"></script>
    <script type="text/javascript" src="script.js"></script>
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="center-outer">
          <div class="center-inner">

          <div class="bubbles">
            <%= link_to image_tag("iera-logo2.png"), "/" %>
          </div>
        </div>
      </div>

      <nav class="navbar navbar-default" role="navigation" style="background-color:#e3f2fd;">	
        <div class="navbar-header">	
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">	
          <span class="sr-only">Toggle navigation</span>	
          <span class="icon-bar"></span>	
          <span class="icon-bar"></span>	
          <span class="icon-bar"></span>	
          </button>	
        </div>	
        <div class="collapse navbar-collapse text-center">	
          <ul class="nav navbar-nav">
            <li><%= link_to "ランキング", tweet_index_path, class: "btn-outline-light" %></li>
            <li><%= link_to "タイムライン", tweet_timeline_path, class: "btn-outline-light" %></li>
            <% if user_signed_in? %>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn-outline-light" %></li>
            <% else %>
              <li><%= link_to "サインイン", new_user_session_path, method: :get, class: "btn-outline-light" %></li>
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->	
      </nav>
      <% flash.each do |name, msg| %>
        <div class="alert alert-primary" role="alert">
          <a class="close" data-dismiss="alert">×</a>
          <h2><%= msg %></h2>
        </div>
      <% end %>
      <%= yield %>
      <footer class="footer text-center">
        <div class="container">
          <h2>Copyright (C) 2019 suminofu0829 All Rights Reserved.</h2>
        </div>
      </footer>
    </div>
  </body>
</html>
